.publishedTabContainer {
    margin-bottom: 5rem;
    border-radius: 10px;
    box-shadow:
        1.2rem 1.2rem 35px 22px rgba(2, 29, 104, 0.257);
}

.publishedTabHead,
.publishedTabContent {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 0rem;
    width: 55rem;
}

.publishedTabContentContainer {
    max-height: 14.2rem; 
    overflow-y: scroll;
}
.publishedTabContentContainer::-webkit-scrollbar {
    display: none;
}

.publishedTabHead caption {
    background-color: #025cb159;
    font-size: 1.4rem;
    font-weight: bold;
    color: #b6b3b3;
    text-align: center;
    padding: 0.9rem 0.4rem 0.6rem 0.4rem;
    border-radius: 8px 8px 0 0;
}

.contractCol {
    width: 18%;
}
.authorCol {
    width: 64%;
}
.versionCol {
    width: 10%;
}
.deployCol {
    width: 8%;
}

.publishedTabHead thead {
    background-color: #025cb159;
    color: #8d8c8c;
    font-weight: bold;
    text-align: left;
}

.publishedTabHead thead th,
.publishedTabContent tbody td {
    padding: 0.4rem 0.5rem;
}

.publishedTabContent tbody td {
    padding: 0.4rem 0.5rem;
    color: rgb(169, 168, 168);
    font-size: 0.9rem;
    border-bottom: 1px solid #dddddd9b;
}

.publishedTabContent tbody tr:nth-of-type(even) {
    background-color: rgba(128, 128, 128, 0.328);
}

.contractCell {
    text-overflow: ellipsis;
}
.contractCell::-webkit-scrollbar {
    display: none;
}
.publishedTabContentContainer td {
    overflow-x: scroll;
}
.publishedTabContentContainer td::-webkit-scrollbar {
    display: none;
}

.deployIconCell {
    text-align: center;
}

.deployIcon:hover {
    fill: rgba(184, 77, 27, 0.83);
}

.load {
    color: #8d8c8cbb;
    font-size: 1.5rem;
    font-style: italic;
}